.full-height {
  height: 100%;
}

#root {
  height: 100vh;
  overflow: hidden;
}

#pushable {
  height: calc(100vh - 61px);
}
#pusher {
  height: calc(100vh - 61px);
  overflow: auto;
  padding: 24px;
}

.ui.card > .lazyImage > .image > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

.ui.card > .lazyImage > .image > img::after {
  content: ' ';
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.ui.card > .lazyImage > .image.video > img::after {
  background-image: url(./themes/imgs/PlaceholderVideo.png);
}

.ui.card > .lazyImage > .image.audio > img::after {
  background-image: url(./themes/imgs/PlaceholderAudio.png);
}
